.headerContainer {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    min-width: 600px;;
    position: sticky;
    top: 0;
}

.container {
    display: flex;
    max-width: 1024px;
    justify-content: space-around;
    height: 4em;
    margin: 0 auto;
}

.siteTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.siteTitleContainer > h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.navContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerListNav {
    display: flex;
    list-style: none;
    padding: 3px 5px;
    justify-content: space-between;
}

.containerListNav > li {
    display: block;
    padding: 0.5em 1em;
}

.link {
    text-decoration: none;
    color: rgb(110,119,119);
    font-size: 1rem;
}

.link:hover {
    color: #000000;
}

.contentContainer {
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 80em;
    margin: 0 auto;
}